<div class="footer">
  <footer class="footer-distributed">

    <div class="footer-left">

      <h3>Oolite<span></span></h3>

      <p class="footer-links">
        <%= link_to 'Home', root_path, class: 'nav-link active', 'aria-current': 'page' %>

        <%= link_to 'About', about_path, class: 'nav-link' %>

        <%= link_to 'Project', project_path, class: 'nav-link' %>

        <%= link_to 'Contact', contact_path, class: 'nav-link' %>
      </p>

      <p class="footer-company-name">Company Name © 2015</p>
    </div>

    <div class="footer-center">

      <div>
        <i class="fa fa-map-marker"></i>
        <%= link_to 'WhatsApp', 'https://wa.me/447936458516', class: 'nav-link', target: '_blank', rel: 'noopener' %>
      </div>

      <div>
        <i class="fa fa-map-marker"></i>
        <p><span>66, Hamilton Ave, Pyford</span> ,Woking Surrey. </p>
      </div>

      <div>
        <i class="fa fa-phone"></i>
        <p>07936 458516</p>
      </div>

      <div>
        <i class="fa fa-envelope"></i>
        <p><a href="mailto:contact@oolite.co.uk">Contact@oolite.co.uk</a></p>
      </div>

    </div>

    <div class="footer-right">

      <p class="footer-company-about">
        <span>About the company</span>
        Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus vehicula sit amet.
      </p>

      <div class="footer-icons">

        <a href=""><i class="/Users/riccieribosa/code/Bosa12/oolite/app/assets/images/insta.jpg"> </i></a>
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-linkedin"></i></a>

      </div>
    </div>
  </footer>
</div>
