<div class="logo">
  <%= cl_image_tag ('customcolor_logo_customcolor_background_ur79ii'), class: "logo" %>

</div>
<h1>
  Under Construction
</h1>

<div class="under">
  <%= cl_image_tag ('under-construction_siglx5'), class: "under" %>
<div class="">
  
  <img src="<%= asset_path 'under.jpg' %>" class="under" alt="">
<div class="div">
  <img src="<%= asset_path 'logo.jpg' %>" class="" alt="">
</div>
  
<h1> Under Construction</h1>

  <div class="logo">
  <img src="<%= asset_path 'under.jpg' %>" class="under" alt

</div>
