<div class="logo">
  <%= image_tag 'logo.jpg', alt: '', style: "width: 12vw; height: 100%; border-radius: 10px;" %>
  <h2 class= "text-logo"> <strong>Providing Building Services for the Woking and Surrounding Areas.</strong></h2>
</div>
<div class="container-carousel">
  <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">

    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <%= image_tag 'kitchen-6916200_1920.jpg', alt: '', style: "width: 95vw; height: 500px;" %>
      </div>
    </div>
  </div>
</div>

<div class="row ">
  <hr class="my-4">
  <div class="col-md-12 me-4">
    <p class="text-home">Oolite Developments is a small local building company (based around Woodham) that prides itself on a top-quality finish, with a small team that care, with fair pricing, as we would rather get return business, or recommendation's, rather than a one-off inflated payday.  The company was set up 10 years ago to purchase and develop its own properties, which we did, and now either sold or rented out.  Things have evolved, and we now provide services to the local community, with many projects under our belts. We have a small select team, who are all very approachable friendly and professional . The core of the team is Ashley and I, and we have a small trusted select few subtractors that we work with when necessary (Electrician, plumber, roofer, labourer, waste disposal, landscapers, window/door specialist, carpet fitter)
                        All are projects are initially started with a site visit, where we discuss your vision, and how to make it happen. We specialise in full refurbishments, however we can-do one-off areas of your homes, whether it's a new kitchen, bathroom or anything else you desire.  Landscaping is another forte, and we have done numerous garden projects to date.
                        </p>
  </div>
</div>

  <div class="row-service">
    <div class="col-md-6 Service pt-5">
      <h1 class= "serv"> Service Provided</h1>
      <%= image_tag 'dechn.jpg', alt: '', style: "width: 400px; height: 460px; left:116.33;
                    gap: opx; opacity: opx; border-radius: 5px;" %>
                    <%= link_to 'See More', project_path, class: 'btn btn-primary'%>
    </div>
    <div class="col-md-6 Galery pt-5">
      <h1 class="gall">Gallery</h1>
      <%= image_tag 'dechn.jpg', alt: '', style: "width: 400px; height: 460px; left:116.33;
                    gap: opx; opacity: opx; border-radius: 5px;" %>
                    <%= link_to 'See More', project_path, class: 'btn btn-primary'%>
    </div>
  </div>
  <div class="choose">
    <h1>Why Choose Us</h1>
  </div>
    <div class="row">
        <div class="card1 ">
          <div class="col-md">
            <%= image_tag'image 13.jpg' %>'
            <h3 class="front"> Free Estimates</h3>
          </div>
        </div>

    <div class="card1">
      <div class="col-md">
        <%= image_tag'image 14.jpg' %>
        <h3 class="front"> High Quality finishing</h3>
      </div>
    </div>

    <div class="card1">
      <%= image_tag'image 7.jpg'%>
      <div class="col-md">
        <h3 class="front"> Frindly and approacheble team</h3>
      </div>
    </div>

      <div class="card1">
          <div class="col-md   ">
            <%= image_tag'image 8.png'%>
            <h3 > Public liability Insurance</h3>
        </div>
      </div>
    </div>
  </div>
