<div class="container my-2">
  <div class="logo text-center mb-4">
    <%= image_tag 'logo.jpg', alt: '', class: 'logo', style: "width: 24vh; height: 100%; border-radius: 13%;" %>
    <h2 class="text-logo mt-3"><strong>Providing Building Services for the Woking and Surrounding Areas.</strong></h2>
  </div>
</div>
  <div id="carouselExampleIndicators" class="carousel slide mb-4" data-bs-ride="carousel">
    <div class="carousel-inner ">
      <div class="carousel-item active ">
         <%= image_tag "https://res.cloudinary.com/dc6nbm8zp/image/upload/v1723069169/tzw7do2lgkqedcrzzk3u.jpg" %>
      </div>
    </div>
  </div>
<div class="container">
  <div class="row mb-4">
    <div class="col-md-6">
      <p class="text-home responsive-text">Oolite Developments is a small local building company (based around Woodham) that prides itself on a top-quality finish, and great customer service. With a small team
      and fair pricing, we would rather get return business, or recommendation's, rather than a one-off inflated payday.
      The company was set up 10 years ago to purchase and develop its own properties, which we did, and now have either sold or rented out.
      Things have evolved, and we now provide services to the local community, with many projects under our belts.
      We have a small select team, that have been vetted for top quality workmanship and who are all very approachable friendly and professional.
      </p>
    </div>
     <div class="phot-hom col-md-6 col-12 d-block justify-content-center  mb-md-0 mt-2">
        <%= image_tag "https://res.cloudinary.com/dc6nbm8zp/image/upload/v1719571781/20220307_115116_wrjako.jpg", class: 'img-fro d-none d-md-block', style: "width: 100%; max-width: 650px; height: 450px; border-radius: 20px;" %>
     </div>
  </div>
</div>
<ul class="cards">
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--fence"></div>
      <div class="card__content">
        <div class="card__title1">Services Provided</div>
        <p class="card__text">Our refurbishment services encompass a wide range of home and property improvements designed to enhance the use, aesthetics, and value of your space.</p>
        <%= link_to 'See More', service_path, class: 'btn btn--block card__btn mt-3' %>
      </div>
    </div>
  </li>
  <li class="cards__item">
    <div class="card">
      <div class="card__image card__image--river"></div>
      <div class="card__content">
        <div class="card__title2">Gallery</div>
        <p class="card__text">Explore our gallery to see a showcase of our recent projects. Each image captures the quality and craftsmanship of our refurbishment and construction services.</p>
        <%= link_to 'Gallery', gallery_path, class: 'btn btn--block card__btn mt-3' %>
      </div>
    </div>
  </li>
</ul>
<div class="choose text-center mb-4">
  <h1>Why Choose Us</h1>
</div>

<div class="chos row text-center mt-2">
  <div class="col-12 col-md-6 col-lg-3 responsive-margin1 ">
    <div class="card1">
      <%= image_tag 'image 13.jpg', class: 'card-img-top, rounded', style: "max-width: 15w; height: auto, border-radius: 20px"; %>
      <div class="card-body">
        <h3 class="card-title-free">Free Estimates</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 col-lg-3 responsive-margin1">
    <div class="card1">
      <%= image_tag 'image 14.jpg', class: 'card-img-top, mg-fluid rounded', style: "max-width: 15w; height: auto, border-radius: 20px"; %>
      <div class="card-body">
        <h3 class="card-title">High Quality Finishing</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-6 col-lg-3 responsive-margin1">
    <div class="card1">
      <%= image_tag 'image 7.jpg', class: 'card-img-top, mg-fluid rounded', style: "max-width: 15w; height: auto, border-radius: 20px"; %>
      <div class="card-body">
        <h3 class="card-title">Friendly and Approachable Team</h3>
      </div>
    </div>
  </div>
  <div class="col-12 col-md-3 col-lg-3 responsive-margin1">
    <div class="card1">
      <%= image_tag 'image 8.png', class:'card-img-top, mg-fluid rounded', style: "max-width: 15w; height: auto, border-radius: 20px"; %>
      <div class="card-body">
        <h3 class="card-title">Public Liability Insurance</h3>
      </div>
    </div>
  </div>
</div>

 <div style="height:100px;"></div>
