<div class="logo">
  <%= image_tag 'logo.jpg', alt: '', style: "width: 12vw; height: 100%; border-radius: 10px;" %>
</div>

<div class="container">
  <div class="row">
    <!-- Coluna para a lista de serviços -->
    <div class="col-5">
      <ul class = "insid">
        <li>Painting and decorating</li>
        <li>Plastering / skimming</li>
        <li>Kitchen refurbishment</li>
        <li>Bathroom refurbishment</li>
        <li>Ceiling / wall repairs</li>
        <li>Coving install</li>
        <li>Architrave install</li>
        <li>Carpet supply and fit</li>
        <li>Garage conversion</li>
        <li>Electrical work as part of a project</li>
        <li>Plumbing work as part of a project</li>
        <li>Window supply and fit</li>
        <li>Front door supply and fit</li>
        <li>Composite</li>
      </ul>
    </div>
    <!-- Coluna para o card com a imagem -->
    <div class="col-6">
      <div class="card-service">
        <div class="card-content">
          <h2>Inside</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <!-- Coluna para a lista de serviços -->
    <div class="col-5">
      <ul class = "inf-ser1">
        <li>Block Paving</li>
        <li>Cabin Instal</li>
        <li>Cladding</li>
        <li>Decking</li>
        <li>Driveway Install</li>
        <li>Exterio Wall Repair</li>
        <li>Fence Install</li>
        <li>Gate Instal</li>
        <li>Path Install/ Patio Install</li>
        <li> Pergola Install/ Pier Install<li>
        <li>Render/ Rumble Strip Install</li>
        <li>Small Extension</li>
        <li>Wall Build/Well Refurbishment</li>
      </ul>
    </div>
    <!-- Coluna para o card com a imagem -->
    <div class="col-6">
      <div class="card-service1">
        <div class="card-content">
          <h2>Outside</h2>
        </div>
      </div>
    </div>
  </div>
</div>
<br class="my-4">

<h3 class="servi-home">Some of our past Projects</h3>
<br class="my-4">
<div class="containerproject">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'cozinha.jpg', alt: '', style: "width: 400px; height: 480px; border-radius: 15px;" %>
      <%= link_to 'See More', project_path, class: 'btn btn-primary'%>
    </div>
    <div class="col-4">
      <%= image_tag 'cozinha.jpg', alt: '', style: "width: 400px; height: 480px; border-radius: 15px;" %>
          <%= link_to 'See More', project_path, class: 'btn btn-primary'%>
    </div>
    <div class="col-4">
      <%= image_tag 'cozinha.jpg', alt: '', style: "width: 400px; height: 480px; border-radius: 15px;" %>
            <%= link_to 'See More', project_path, class: 'btn btn-primary'%>
    </div>
  </div>
</div>
<br class="my-4">
