<div class="logo">
  <%= image_tag 'logo.jpg', alt: '', style: "width: 12vw; height: 100%; border-radius: 10px;" %>
</div>

<hr> my-4 <hr>
<main>

  <div class="row">
    <div class='card-service'>
      <div class='info'>
        <h1 class='title'>Outside</h1>
      </div>
      <div class="text-container">
        <p>This is some text that will be displayed next to the card. You can add more content here as needed.</p>
      </div>
    </div>

      <div class='card-service1'>
        <div class='info'>
          <h1 class='title'>Inside</h1>
        </div>
      </div>
  </div>
</main>
    <hr> my-4 <hr>

  <h3 class= "servie-home">Some of our past Projects </h3>

<br> my-4 <br>
<div class="containerproject">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'cozinha.jpg', alt: '', style: "width: 342px; height: 391px; border-radius: 15px;" %>
        <div class="card_order-body d-flex flex-column justify-content-between">
          <%= link_to 'Project', project_path, class: 'nav-link' %>
          <div class="card-order-info d-flex flex-column justify-content-between">

          </div>
        </div>
     </div>
     <div class="col-4">
      <%= image_tag 'cozinha.jpg', alt: '', style: "width: 342px; height: 391px; border-radius: 15px;" %>
        <div class="card_order-body d-flex flex-column justify-content-between">
          <div class="card-order-info d-flex flex-column justify-content-between">


          </div>
        </div>
     </div>
     <div class="col-4">
      <%= image_tag 'cozinha.jpg', alt: '', style: "width: 342px; height: 391px; border-radius: 15px;" %>
        <div class="card_order-body d-flex flex-column justify-content-between">
          <div class="card-order-info d-flex flex-column justify-content-between">
            <h5 class="card_order-title m-0"></h5>
              <link rel="stylesheet" href="">
          </div>
        </div>
     </div>
  </div>
</div>
<h5> my-4 </h5>
