
<div class="logo ">
  <%= image_tag 'logo.jpg', alt: '', style: "height: %; border-radius: 13%" %>
</div>
<div class="container">
  <div class="row mb-4">
    <div class="serv-fron">
      <ul class="card-service">
        <h3 class="tit-ser">Interior</h3>
          <ul class="ins col-md- responsive-text custom-list">
            <li>Architrave Install</li>
            <li>Bathroom Refurb</li>
            <li>Bespoke Shelving</li>
            <li>Carpet Supply</li>
            <li>Ceiling Repair</li>
            <li>Create Doorway</li>
            <li>Coving Install</li>
            <li>Garage Conversion</li>
            <li>HMO Refresh</li>
          <ul class="colun2  col-9 custom-list responsive-text">
            <li>Kitchen Refurb</li>
            <li>Laminate Floor </li>
            <li>Overboarding</li>
            <li>Painting and Decorating</li>
            <li>Plasterboarding</li>
            <li>Plastering / Skimming</li>
            <li>Small flat Refurb </li>
            <li>Some Structural Repairs</li>
            <li>Tiling</li>

          </ul>
    </div>
      <div class="img-f  d-block justify-content-end  mb-md-0 ">
        <%= image_tag "https://res.cloudinary.com/dskz2xkp0/image/upload/v1726066097/uyi7lklfxks1wm4dw7un.jpg", class: "d-none d-md-block", style: "width: 100%; max-width: 650px; height: 450px; border-radius: 20px;" %>
      </div>
  </div>
</div>
<div class="outis container">
  <div class="row mb-4">
      <div class="img-insd  d-block justify-content-start ">
        <%= image_tag "https://res.cloudinary.com/dskz2xkp0/image/upload/v1726066106/jhicuuozp367d5jwg04d.jpg", class: "d-none d-md-block", style: "width: 100%; max-width: 650px; height: 450px; border-radius: 20px;" %>
      </div>
    <div class="ins-ser  responsive-margin ">
      <h3 class="tit-out ">Exterior</h3>
      <ul class="out responsive-text">
        <li>Bespoke Canopy </li>
        <li>Block Paving</li>
        <li>Cabin Install</li>
        <li>Composite Front door</li>
        <li>Cladding</li>
        <li>Concrete Slab </li>
        <li>Decking</li>
        <li>Driveway </li>
        <li>Exterior Wall Repair</li>
        <li>Fascia and soffit</li>
        <li>Fencing</li>
        <li>Gate Install</li>
      </ul>
      <ul class="colun1  col-8 responsive-text">
        <li>Guttering</li>
        <li>Patio Install</li>
        <li>Path Install </li>
        <li>Pergola Install</li>
        <li>Pier Repair / Build</li>
        <li>Rendering</li>
        <li>Rumble Strip</li>
        <li>Small Extension</li>
        <li>Wall Build </li>
        <li>Wall Repair</li>
        <li>Well Refurb</li>
        <li>Window supply and fit</li>
      </ul>
    </div>
  </div>
</div>
<br class="my-4">
<div class="row mb-4">
  <div class="text-inf col-12-md-6">
    <div class="tex-in">
      <h3 class="ser-p col-md-6 "> Company Bio </h3>  <br>
      <div class="col-8-md-6 justify-content-start responsive-text">
        <p style="text-align: justify;">The core of the team is Ashley and I (Sean), and we have a small trusted select few subcontractors that we work with when necessary (electrician, plumber, roofer, labourer, waste disposal). All our projects are initially started with a site visit, where we discuss your vision, and how to make it happen. We specialise in full refurbishments, however, we can do one-off areas of your home, whether it's a new kitchen, bathroom or anything else you desire. Landscaping is another forte, and we have done numerous garden projects to date.</p>
      </div>
    </div>
    <%= image_tag 'https://res.cloudinary.com/dskz2xkp0/image/upload/e_improve,w_550,h_500,c_thumb,g_auto/vvmai5ypycxbsj22whrz.jpg', alt: '', class: 'img-s', style: "width: 100%;" %>
  </div>
    <%= image_tag asset_path('sean.jpg'), alt: '', class: 'teamwor ', style: "width: 20vh; height: 150px; border-radius: 30%;" %>
    <%= image_tag asset_path('teamwork.jpg'), alt: '', class: 'teamwor ', style: "width: 20vh; height: 150px; border-radius: 30%;" %>
</div>

<br class="my-4">
