<div class="logo">
  <%= image_tag 'logo.jpg', alt: '', style: "width: 12vw; height: 100%; border-radius: 10px;" %>
</div>


<div class="container">
  <div class="row">
    <!-- Coluna para o card -->
    <div class="col-6">
      <div class="card-service">
        <div class="card-content">
          <h2>Outside</h2>
        </div>
      </div>
    </div>
    <!-- Coluna para o texto -->
    <div class="col-6">
      <div class="inf-ser">
        <p>Painting and decorating,
        Plastering / skimming,
        Kitchen refurbishment,
        Bathroom refurbishment,
        Ceiling / wall repairs,
        Coving install,
        Architrave install,
        Carpet supply and fit,
        Garage conversion,
        Electrical work as part of a project,
        Plumbing work as part of a project,
        Window supply and fit,
        Front door supply and fit,
        Composite,
        Laminate install,
        Floor install,
        Tiling,
        New doorway,
        Loft deck,
        Some structural repairs,
        Repairing work that has not been done to a satisfactory standard,
        Plaster boarding,
        Studding,
        Boxing,
        Stud wall,
        Cladding.</p>
      </div>
    </div>
     <div class="col-6">
      <div class="card-service1">
        <div class="card-content">
          <h2>Outside</h2>
        </div>
      </div>
    </div>
    <!-- Coluna para o texto -->
    <div class="col-6 justify-content-flex-start mr-2">
      <div class="inf-ser1">
        <p>Painting and decorating,
        Plastering / skimming,
        Kitchen refurbishment,
        Bathroom refurbishment,
        Ceiling / wall repairs,
        Coving install,
        Architrave install,
        Carpet supply and fit,
        Garage conversion,
        Electrical work as part of a project,
        Plumbing work as part of a project,
        Window supply and fit,
        Front door supply and fit,
        Composite,
        Laminate install,
        Floor install,
        Tiling,
        New doorway,
        Loft deck,
        Some structural repairs,
        Repairing work that has not been done to a satisfactory standard,
        Plaster boarding,
        Studding,
        Boxing,
        Stud wall,
        Cladding.</p>
      </div>
    </div>
  </div>
</div>


<h3 class="servi-home">Some of our past Projects</h3>
<br class="my-4">
<div class="containerproject">
  <div class="row">
    <div class="col-4">
      <%= image_tag 'cozinha.jpg', alt: '', style: "width: 400px; height: 480px; border-radius: 15px;" %>
      <%= link_to 'See More', project_path, class: 'btn btn-primary'%>
    </div>
    <div class="col-4">
      <%= image_tag 'cozinha.jpg', alt: '', style: "width: 400px; height: 480px; border-radius: 15px;" %>
          <%= link_to 'See More', project_path, class: 'btn btn-primary'%>
    </div>
    <div class="col-4">
      <%= image_tag 'cozinha.jpg', alt: '', style: "width: 400px; height: 480px; border-radius: 15px;" %>
            <%= link_to 'See More', project_path, class: 'btn btn-primary'%>
    </div>
  </div>
</div>
<br class="my-4">
