<!DOCTYPE html>
<html>
  <head>
    <title>OOlite</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= display_meta_tags %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://unpkg.com/bs-brain@2.0.4/components/contacts/contact-1/assets/css/contact-1.css">
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>



  </head>

  <body>

    <a href="https://wa.me/447936458516" class="whatsapp-button" target="_blank" rel="noopener"><%= image_tag 'whatsapp.png', style: 'width: 40px; height: 40px;' %></a>

  <style>
    /* Estilos CSS para o botão fixo */
    .whatsapp-button {
      position: fixed;
      bottom: 15px;
      right: 20px;
      background-color: #25d366;
      color: white;
      border: none;
      border-radius: 50%;
      padding: 15px;
      cursor: pointer;
      z-index: 1000; */
    }

    .whatsapp-button:hover {
      background-color: white;
    }
  </style>
    <%= render 'shared/navbar' %>

    <%= yield %>
    <%= render 'shared/footer' %>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="https://s.pageclip.co/v1/pageclip.js" charset="utf-8"></script>



  </body>
</html>
